Hauken.pro.user
Hauken.pro.user*
Hauken
*.o
*.ini
moc_*
Makefile
qrc*
.qmake.stash
Makefile*
object_script*
Hauken_resource.rc
torch/lib
build/
*.user
version.h

include/msal
libs/msalruntime.lib
include/lame
libs/libmp3lame.lib
